@import "tailwindcss";

:root {
    --background: #1c060b;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
}



body {
    color: var(--foreground);
    background: var(--background);
}

.container {
    padding: 15px;
}

.custom-audio {
    width: 100%;
    background: #4d0919;
    border-radius: 20px;
    height: 60px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
.active {
    border-bottom-width: 2px;
    border-bottom-color: red;
    transition: border-bottom-color 0.3s ease;
}

.custom-audio::-webkit-media-controls-panel {
    background-color: transparent;
}

.custom-audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}

.custom-audio::-webkit-media-controls-play-button,
.custom-audio::-webkit-media-controls-pause-button {
    filter: invert(#bba);
}
.album-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
}

.album-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #0070f3;
    opacity: 0.5;
    margin: 0 5px;
    cursor: pointer;
}

.album-pagination .swiper-pagination-bullet-active {
    opacity: 1;
}